<launch>

  <!-- Open Camera -->
  <arg name="resolution" default="-r 1280x800" />
  <arg name="open" default="-o head_camera" />

  <node name="close_left_camera" pkg="baxter_tools" type="camera_control.py" args="-c left_hand_camera" />
  <node name="head_camera" pkg="baxter_tools" type="camera_control.py" args="$(arg open) $(arg resolution)" />

  <!-- Setup Node -->
  <arg name="marker_size" default="5.3" />
  <arg name="max_new_marker_error" default="0.2" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/cameras/head_camera/image" />
  <arg name="cam_info_topic" default="/cameras/head_camera/camera_info" />
  <arg name="output_frame" default="/head_camera" />
  <arg name="max_frequency" default="10.0" />
  <arg name="marker_resolution" default="5" />
  <arg name="marker_margin" default="2" />

  <node name="ar_track_alvar_head" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg max_frequency) $(arg marker_resolution) $(arg marker_margin)" />
 node name="headsub" pkg="boba_bot" type="headsub.py" />
</launch>
